
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Administrador"))
    {
        <div class="page-header ">
            <h1 class="h1 padding-2x text-strong text-dark"><small>Panel de Administración</small></h1>
            <hr />
        </div>
        <div class="col-md-12"></div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-3">
                        <a asp-controller="Residencias" asp-action="Index" class="card text-center">
                            <div class="card-header bg-info text-white">
                                <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                                </svg>
                            </div>
                            <div class="card-footer">
                                Residencias
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            }

            @if (User.IsInRole("Presidente"))
            {
                <p>gfdf</p>

            }

            @if (User.IsInRole("Tesorero"))
            {
                <p>gfdadsf</p>
            }
            }
            else
            {

            <div class="text-center">
                <h1 class="display-4">Welcome</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            </div>
            }


